Repository celikmurat1845/chat-app: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && eslint --fix, cd server && prettier --write, cd client && npx eslint --fix, cd client && npx prettier --write

husky pre-commit hook
  .lintstagedrc.json
Due: none

husky pre-commit
  .lintstagedrc.json
  server/index.js
Due: cd server && eslint --fix, cd server && prettier --write

husky pre-commit
  .lintstagedrc.json
Due: none

husky
  .lintstagedrc.json
Due: none

husky
  .lintstagedrc.json
  server/.lintstagedrc.json
Due: none

husky
  .lintstagedrc.json
  package.json
Due: none

husky
  .lintstagedrc.json
  server/index.js
Due: cd server && eslint --fix, cd server && prettier --write

feat: remove and add install
  .lintstagedrc.json
  server/index.js
Due: cd server && eslint --fix, cd server && prettier --write

feat: add husky commit-msg hook
  .commitlintrc.json
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

refactor: readme.md
  README.md
Due: none

feat(server): add socket io
  server/app.js
  server/index.js
  server/package-lock.json
  server/package.json
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

feat: add socket events
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

feat: setup client
  client/.eslintignore
  client/.eslintrc.json
  client/.gitignore
  client/.prettierignore
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/.prettierrc.json
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/pages/Chat.jsx
  client/src/reportWebVitals.js
  client/src/setupTests.js
  package-lock.json
  package.json
Due: cd client && npx eslint --fix, cd client && npx prettier --write

feat(client): create login page
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/login/Login.jsx
  client/src/components/login/Login.module.css
  client/src/pages/Chat.jsx
  client/src/pages/Login.jsx
  package-lock.json
  package.json
  server/app.js
  server/package-lock.json
  server/package.json
Due: cd server && eslint --fix, cd server && prettier --write, cd client && npx eslint --fix, cd client && npx prettier --write

feat(server): add prisma orm
  server/.env
  server/package-lock.json
  server/package.json
  server/prisma/dev.db
  server/prisma/dev.db-journal
  server/prisma/migrations/20240218132851_init/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
Due: none

feat(server): add login route
  package.json
  server/app.js
  server/constants/index.js
  server/controllers/login.controller.js
  server/routes/login.route.js
Due: cd server && eslint --fix, cd server && prettier --write

feat(server): add login logic
  server/.env
  server/app.js
  server/controllers/login.controller.js
  server/controllers/user.controller.js
  server/middlewares/verifyToken.middleware.js
  server/package-lock.json
  server/package.json
  server/prisma/dev.db
  server/prisma/dev.db-journal
  server/routes/user.route.js
Due: cd server && eslint --fix, cd server && prettier --write

feat(server): add updatedAt column to user model
  server/controllers/user.controller.js
  server/prisma/dev.db
  server/prisma/migrations/20240218194931_add_updated_at_to_user/migration.sql
  server/prisma/schema.prisma
  server/routes/user.route.js
Due: cd server && eslint --fix, cd server && prettier --write

feat(server): add joi validator
  server/controllers/login.controller.js
  server/package-lock.json
  server/package.json
  server/prisma/dev.db
Due: cd server && eslint --fix, cd server && prettier --write

feat(client): add authentica logic
  client/src/App.js
  client/src/components/chat/Chat.jsx
  client/src/components/login/Login.jsx
Due: cd client && npx eslint --fix, cd client && npx prettier --write

feat(client): add auth context
  client/.env
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/chat/Chat.jsx
  client/src/context/authContext.jsx
  server/app.js
  server/controllers/auth.controller.js
  server/prisma/dev.db
  server/routes/auth.route.js
  server/routes/login.route.js
Due: cd server && eslint --fix, cd server && prettier --write, cd client && npx eslint --fix, cd client && npx prettier --write

feat(client): fix login page
  client/src/components/login/Login.jsx
  server/prisma/dev.db
Due: none

feat(client): create chat ui
  client/src/components/chat/Chat.jsx
  client/src/components/chat/Chat.module.css
  server/controllers/user.controller.js
  server/prisma/dev.db
Due: cd server && eslint --fix, cd server && prettier --write

feat(client): add message input
  client/src/components/chat/Chat.jsx
  client/src/components/chat/Chat.module.css
  server/prisma/dev.db
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

feat(client): add chat logic
  client/src/components/chat/Chat1.jsx
  server/prisma/dev.db
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

feat(client): add chat logic
  client/src/components/chat/Chat.jsx
  client/src/components/chat/Chat1.module.css
  server/prisma/dev.db
Due: none

fix: remove unnecessary files
  client/src/components/chat/Chat1.jsx
  client/src/components/chat/Chat1.module.css
Due: none

feat(client): add room chat
  client/src/components/chat/Chat.module.css
  client/src/components/chat/Chat1.jsx
  server/prisma/dev.db
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

feat(client): continue room chat
  client/src/components/chat/Chat2.jsx
  server/prisma/dev.db
Due: none

feat(client): arrange room message
  client/.eslintrc.json
  client/src/components/chat/Chat3.jsx
  server/prisma/dev.db
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

feat: add leave room logic
  client/src/components/chat/Chat.jsx
  server/prisma/dev.db
  server/socket.js
Due: cd server && eslint --fix, cd server && prettier --write

Path conditions:
  cd server && eslint --fix: any of: server/**/*.js
  cd server && prettier --write: any of: server/**/*.js
  cd client && npx eslint --fix: any of: client/**/*.js
  cd client && npx prettier --write: any of: client/**/*.js
