Repository celikmurat1845/chat-app: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npm run lintx, cd server && npm run format, cd client && npx eslint --fix, cd client && npx prettier --write

.lintstagedrc.json:

{
  "server/**/*.js": [
    "cd server && npm run lintx",
    "cd server && npm run format"
  ],
  "client/**/*.js": [
    "cd client && npx eslint --fix",
    "cd client && npx prettier --write"
  ]
}

fix: leave room logic
  client/src/components/chat/Chat.jsx
  server/prisma/dev.db
  server/socket.js
Due: cd server && npm run lintx, cd server && npm run format

fix(client): display messages
  client/src/components/chat/Chat.jsx
  client/src/components/chat/Chat.module.css
  server/prisma/dev.db
  server/socket.js
Due: cd server && npm run lintx, cd server && npm run format

fix(client): send message button
  client/src/components/chat/Chat.jsx
  server/prisma/dev.db
Due: none

feat: set secret variable
  client/.env
  client/.eslintrc.json
  client/src/components/chat/Chat.jsx
  client/src/components/chat/Chat1.jsx
  client/src/components/chat/Chat2.jsx
  client/src/components/chat/Chat3.jsx
  client/src/components/login/Login.jsx
  client/src/config/index.js
  client/src/context/authContext.jsx
  client/src/pages/Chat.jsx
  client/src/pages/Login.jsx
  server/.env
  server/app.js
  server/config/index.js
  server/prisma/dev.db
  server/socket.js
Due: cd server && npm run lintx, cd server && npm run format, cd client && npx eslint --fix, cd client && npx prettier --write

fix(client): chat component prettier formatter
  client/src/components/chat/Chat.jsx
Due: none

fix: script commands
  package.json
Due: none

refactor: add readme file content
  README.md
Due: none

fix: arrange readme.md file
  README.md
Due: none

refactor: arrange readme.md file
  README.md
Due: none
